<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/navigation.css">
    <title>Home</title>
</head>

<body>
    <div id="body-wrapper">
        {{>navigation}}
        <h1>Text to see if this works please lord</h1>
        <p>{{name}}</p>
    </div>
</body>

</html>