<footer>
    <div class="footer">
        <a href="https://github.com/mattpy" class="button" target="_blank">Github</a>&nbsp;|
        <a href="https://nodejs.org/en/" class="button" target="_blank">Node.js</a>&nbsp;|
        <a href="http://expressjs.com/" class="button" target="_blank">Express</a>
    </div>
</footer>