<header>
    <div id="nav-wrapper">
        <a href="/" class="nav-items">
            Home
        </a>
        <a href="/projects" class="nav-items">
            Projects
        </a>
        <a href="/about" class="nav-items">
            About
        </a>
    </div>
</header>