.footer a {
    font-size: 0.6em;
    padding: 10px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/-1;
    grid-row: 12/-1;
    padding-top: 120;
    background-image: linear-gradient(rgba(44, 44, 44, 0), rgba(0, 0, 0, 100));
}