.header {
    grid-column: 1 / 12;
    grid-row: 1/2; 
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.button {
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding-left: 20px;
}

.button:hover {
    text-decoration: underline;
    transition: text-decoration 5s ease-in;
}

.active {
    font-family: 'Beth Ellen', cursive;
}