.header {
    grid-column: 1 / 12;
    grid-row: 1/2; 
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.button {
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding: 20px;
}

.button:hover {
    color: black;
    outline: white;
}

.active {
    color: red;
}