body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    color: white;
    font-size: 30px;
    font-family: 'Livvic', sans-serif;
}

.container {
    min-height: 100vh;
    background: url('/images/portfolio.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
    background-position: center center;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(13, 1fr);
}


.main {
    /* border: 10px solid rgb(73, 73, 73); */
    grid-column: 2/12;
    grid-row: 2/12;
    grid-gap: 5px;
    background-color: rgba(0, 0, 0, 0.664);
}

.nested-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    grid-gap: 5px;
    font-size: 0.5em;
}

.nested-grid img {
    width: auto;
    height: 150px;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #292929;
    border-radius: 10px;
    padding: 15px;
}

.card-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
}

.card-wrapper:hover {
    background-color: #3d3d3d;
    transition: background-color 0.2s linear;
}

.main h1, h2, h3 {
    margin: 10px;
}

a {
    color: white;
}

a:hover {
    color: rgb(214, 214, 214);
}

.cursive {
    font-family: 'Beth Ellen', cursive;
}

@media (max-width: 1300px) {
    body {
        font-size: 30px;
    }
}

@media (max-width: 1050px) {
    body {
        font-size: 28px;
    }
}

/* Delete this if it doesn't work */ 
